@model Login

<div style="text-align:center;">
    <h2>
        Welcome to Realsoft Technologies<h2>
            <form method="post">
                <fieldset>
                    <legend>Login</legend>
                    <div>
                        <label for="username">Username:</label>
                        <input type="username" name="username" value="" />
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" value="" />
                    </div>
                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Submit" class="submit" />
                    </div>
                </fieldset>
            </form>
</div>



